<div class="wrapper">
  <h2 class="welcome">Mystery Word Game</h2>


  {{#unless userName}}
    <div class="name-form">
      <span class="enter-name">Enter your name to get started</span>
      <form class="enter-name" action="/userName" method="post">
        <input type="text" name="userName" value="">
        <input type="submit" value="Enter Name">
      </form>
    </div>

    {{else}}

      <h2 class="welcome-name">Welcome {{userName}}</h2>

  {{/unless}}


  <div class="inner">
    <span class="guesses">Guesses remaining: {{remaining}}</span>

    {{#each errors}}
      <div class="error">
        {{msg}}
      </div>
      {{error}}
    {{/each}}

    <div class="error">{{error}}</div>


    <h1>{{blanks}}</h1>


    <form class="guess-letter" action="/guesses" method="post">
      <input type="text" name="guess" value="" placeholder="Guess a letter">
      <input type="submit" value="Make Guess">
    </form>

    <div class="guesses">
      <p>You've guessed these letters: </p>
      <p>{{guesses}}</p>
    </div>
  </div>
</div>
